.react-flow__controls {
    background: #1e1e1e;
    border: 1px solid #333;
}

.react-flow__controls button {
    background: #2b2b2b;
    color: white;
    border-bottom: 1px solid #333;
}

.react-flow__controls button:hover {
    background: #3a3a3a;
}

/* .react-flow__handle {
  opacity: 0;
  pointer-events: none;
} */


.node {
    --incoming-band: transparent;
    --outgoing-band: transparent;

    background-image:
        linear-gradient(to right, var(--incoming-band), transparent 40px),
        linear-gradient(to left, var(--outgoing-band), transparent 40px);
}

.node-incoming {
    --incoming-band: rgba(20, 184, 166, 0.4);
}

.node-outgoing {
    --outgoing-band: rgba(245, 158, 11, 0.4);
}

.skill-interactions-table thead {
    background-color: #111;
    box-shadow: inset 0 -1px 0 #2a2a2a;
}

.skill-interactions-table th {
    font-weight: 600;
    color: #f3f4f6;
    border-bottom: 1px solid #2a2a2a;
}

.skill-interactions-table td,
.skill-interactions-table th {
    white-space: nowrap;
    border-right: 1px solid #222;
    padding: 0.3rem;
}

.skill-interactions-table td:last-child,
.skill-interactions-table th:last-child {
    border-right: none;
}

.skill-interactions-table-row {
    background-color: #141414;
    border-bottom: 1px solid #222;
}

.skill-interactions-table-row:nth-child(even) {
    background-color: #1a1a1a;
}

.skill-interactions-table-row:hover {
    background-color: #3a3a3a;
}