.select-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 98px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1rem;
}

.select-trigger:hover {
    background-color: #555;
    border-radius: 4px;
    transition: background-color 0.2s, border-color 0.2s;
}

.select-value {
    display: flex;
    align-items: center;
}

.select-content {
    background: #1f1f1f;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
    max-width: clamp(300px, 80vw, 900px);
    max-height: 400px;
    z-index: 1000;
    overflow-y: auto;
}

.select-fade-bottom {
    position: sticky;
    bottom: 0;
    height: 24px;
    pointer-events: none;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, transparent, black);
}

.select-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(85px, 1fr));
    max-width: clamp(300px, 80vw, 900px);
}

.select-item {
    position: relative;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    max-width: 80px;
}

.select-item:focus,
.select-item:hover {
    background: #555;
    filter: brightness(1.3);
    transition: all 0.2s ease;
    outline: none;
}

.item-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}
