.factory-recipes-table thead {
    background-color: #111;
    box-shadow: inset 0 -1px 0 #2a2a2a;
}

.factory-recipes-table th {
    font-weight: 600;
    color: #f3f4f6;
    border-bottom: 1px solid #2a2a2a;
}

.factory-recipes-table td,
.factory-recipes-table th {
    white-space: nowrap;
    border-right: 1px solid #222;
    padding: 0.3rem;
}

.factory-recipes-table td:last-child,
.factory-recipes-table th:last-child {
    border-right: none;
}

.factory-recipes-table-row {
    background-color: #141414;
    border-bottom: 1px solid #222;
}

.factory-recipes-table-row:nth-child(even) {
    background-color: #1a1a1a;
}

.factory-recipes-table-row:hover {
    background-color: #3a3a3a;
}